.app-container {
  background-color: #1d1d1d;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.mail-container {
  border: #8ad498 solid 8px;
  border-radius: 24px;
  width: 32rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.name-form input {
  height: 20px;
}
