.app-container {
  background-color: #121212;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.mail-container {
  background-color: #eaeaea32;
  border-radius: 24px;
  width: 28rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  padding: 2.5rem 3rem;
}

.mail-header {
  position: fixed;
  transform: translate(-6.25rem, -7rem);
  img {
    width: 16rem;
    filter: invert(1);
  }
}

.name-form,
.email-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    font-size: 36px;
  }
}

.email-form {
  margin-top: 1rem;
}

label {
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

input {
  height: 32px;
  background: transparent;
  border: none;
  border-bottom: #ffffff solid 2px;
  color: white;
  font-size: 24px;
}

input:focus {
  outline: none;
}

.checkbox-form {
  display: flex;
  align-items: flex-start;
  transform: translateY(1rem);

  p {
    font-size: 12px;
    margin-left: 1rem;
    letter-spacing: 1.2px;
    /* transform: translateY(-0.25rem); */
  }
  a {
    color: white;
    margin-left: 0.25rem;
  }
}

.mail-button {
  background-color: #8ad498;
  border: none;
  height: 48px;
  border-radius: 24px;
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  cursor: pointer;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
}
